html {
    height:100vh;
    width:100vw;
    overflow: scroll;
}

body {
    background-image: url("../images/background.jpg");
    height:100%;
    width:100%;
}

.container-fluid{
    text-align: center;    
}

#root {
    height:100%;
    width:100%;
}

.trail-btn{
    height: 200px;
    width: 400px;
    margin: 20px 20px 20px;
}

.trail-row{
    margin-top: 150px;
    margin-bottom: 100px;
}

.nav-btn{
    margin: 7px 20px 7px;
    height: 75px;
    width: 200px;
}

.food,.events,.activities {
    color: white !important;
}